/***** general ******/

*
body{
	font-family: Corbel, Arial, sans-serif;
}

a{
	color: #ff0001
}

a{
	text-decoration: none;
}

/***** header ******/

#header {
background-color: #6ab47b
}

h1{
	font-size: 30px;
	padding: 40px; 
	margin: 0;
	text-align: center; 
	text-transform: uppercase;

}

#nav{
	background-color:green;
	text-align: center;
	list-style: none; 
}

#nav li{
	display: inline-block;
	padding: 8px;
}

#nav li a{
	color: #ffffff
}

#nav li :hover{
	background-color: #6ab47b;
}
	
/***** content ******/


#content {
	width: 600px;
	margin: 30px auto;

}

h2{
	font-size: 24px;
	text-align: center;
	margin: 0;
}

h3{
	color: #ff0000;
	border: 6px solid;
	border-color: ##6ab47b
}